<h1>Produtos Cadastrados</h1>


<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <table>
                <tr>
                    <th colspan="4">Produto</th>                    
                </tr>
                <tr>
                    <th>Descrição</th>
                    <th>Unitário</th>
                    <th>Venda</th>
                    <th>Quantidade</th>
                </tr>
                <tr>
                    <td>{{produtos.descricao}}</td>
                    <td>{{produtos.valorunit}}</td>
                    <td>{{produtos.valorvenda}}</td>
                    <td>{{produtos.quantidade}}</td>
                   
                </tr>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>